<div class="register-right">
  <h3 style="text-align: center;">注册</h3>
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="userErrorTip">
        <nz-input-group class="right-infp-name" nzSize="large">
          <label>
            <input nz-input formControlName="username" placeholder="用户名" />
          </label>
        </nz-input-group>
        <ng-template #userErrorTip let-i>
          <ng-container *ngIf="i.errors?.required">请输入用户名！</ng-container>
          <ng-container *ngIf="i.errors?.pattern">只能为字母，数字，下划线组成，且不能少于6位！</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'请输入密码！'">
        <nz-input-group
          class="right-infp-name"
          nzSize="large"
          nz-popover
          nzPopoverPlacement="right"
          nzPopoverTrigger="focus"
          [(nzVisible)]="visible"
          nzOverlayClassName="register-password-cdk"
          [nzOverlayStyle]="{ 'width.px': 240 }"
          [nzPopoverContent]="pwdCdkTpl"
        >
          <label>
            <input nz-input type="password" formControlName="password" placeholder="密码" />
          </label>
        </nz-input-group>
        <ng-template #pwdCdkTpl>
          <div style="padding: 4px 0;">
            <ng-container [ngSwitch]="status">
              <div *ngSwitchCase="'ok'" class="success">强度：强</div>
              <div *ngSwitchCase="'pass'" class="warning">强度：中</div>
              <div *ngSwitchDefault class="error">强度：太短</div>
            </ng-container>
            <div class="progress-{{ status }}">
              <nz-progress
                [nzPercent]="progress"
                [nzStatus]="passwordProgressMap[status]"
                [nzStrokeWidth]="6"
                [nzShowInfo]="false"
              ></nz-progress>
            </div>
            <p class="mt-sm">请至少输入 6 个字符。请不要使用容易被猜到的密码。</p>
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="confirmErrorTip">
        <nz-input-group class="right-infp-name" nzSize="large">
          <input nz-input type="password" formControlName="confirm" />
        </nz-input-group>
        <ng-template #confirmErrorTip let-i>
          <ng-container *ngIf="i.errors?.required">请确认密码！</ng-container>
          <ng-container *ngIf="i.errors?.equar">两次输入的密码不匹配!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="mobileErrorTip">
        <nz-input-group class="right-infp-name" nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="mobilePrefix" style="width: 70px; margin: 0;">
              <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"></nz-option>
              <!--            <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"></nz-option>-->
            </nz-select>
          </ng-template>
          <input formControlName="mobile" nz-input placeholder="手机号" />
        </nz-input-group>
        <ng-template #mobileErrorTip let-i>
          <ng-container *ngIf="i.errors?.required">请输入手机号！</ng-container>
          <ng-container *ngIf="i.errors?.pattern">手机号格式错误！</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'请输入验证码！'">
        <nz-row [nzGutter]="8">
          <nz-col [nzSpan]="16">
            <nz-input-group class="right-infp-name" nzSize="large">
              <input nz-input formControlName="captcha" placeholder="输入注册码" />
            </nz-input-group>
          </nz-col>
          <nz-col [nzSpan]="8">
            <div class="right-infp-btn" style="float: right; width: 100%;">
              <button
                class="submit"
                type="button"
                style="font-size: 14px;"
                nz-button
                nzSize="large"
                (click)="getCaptcha()"
                nzBlock
                [nzLoading]="http.loading"
              >
                {{ count ? count + 's' : '获取验证码' }}
              </button>
            </div>
          </nz-col>
        </nz-row>
      </nz-form-control>
    </nz-form-item>
    <!--  验证码获取-->
    <!--  <nz-form-item>-->
    <!--    <nz-form-control [nzErrorTip]="'请输入验证码！'">-->
    <!--      <nz-row [nzGutter]="8">-->
    <!--        <nz-col [nzSpan]="16">-->
    <!--          <nz-input-group  class="right-infp-name" nzSize="large">-->
    <!--            <input nz-input formControlName="captcha" placeholder="Captcha" />-->
    <!--          </nz-input-group>-->
    <!--        </nz-col>-->
    <!--        <nz-col [nzSpan]="8">-->
    <!--          <div class="right-infp-btn" style="float:right;width: 85%;margin-right: 65px" >-->
    <!--            <button-->
    <!--              type="button"-->
    <!--              class = "submit"-->
    <!--              nz-button-->
    <!--              nzSize="large"-->
    <!--              style="font-size: 14px"-->
    <!--              (click)="getCaptcha()"-->
    <!--              [disabled]="count"-->
    <!--              nzBlock-->
    <!--              [nzLoading]="http.loading"-->
    <!--            >-->
    <!--              {{ count ? count + 's' : ('获取验证码') }}-->
    <!--            </button>-->
    <!--          </div>-->

    <!--        </nz-col>-->
    <!--      </nz-row>-->
    <!--    </nz-form-control>-->
    <!--  </nz-form-item>-->
    <nz-form-item>
      <div class="right-infp-btn">
        <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="http.loading" class="submit">
          注册
        </button>
      </div>
      <div>
        <a class="login" routerLink="/passport/login">使用已有账户登录</a>
      </div>
    </nz-form-item>
  </form>
</div>
