<div class="container">
  <div class="fullscreen-d">
    <header-fullscreen class="index-fullscreen"></header-fullscreen>
  </div>
  <div class="top">
    <div class="header">
      <div class="header-center fl">
        <div class="header-title">
          智能网联协同研发平台
        </div>
        <div class="header-img">工具链1.0</div>
      </div>
      <div class="header-bottom fl"></div>
    </div>
  </div>
  <div class="content">
    <div class="content-left">
      <div class="content-left-gif"></div>
    </div>

    <router-outlet></router-outlet>
  </div>

  <global-footer [links]="links">
    Copyright
    <i class="anticon anticon-copyright"></i> 2020 <a href="http://www.cnhtc.com.cn/" target="_blank" style="color: whitesmoke;">WIT</a>出品
    <br>
    <a href="http://beian.miit.gov.cn/"> 鲁ICP备19046148号-1</a>
  </global-footer>
</div>
