<page-header homeI18n="首页"></page-header>
<div class="scene-guide-index">
  <div class="guide-index-content">
    <p class="guide-index-intro">
      <span
        >平台仿真引擎拥有大量的场景数据，基于大规模云端计算容量， 致力于打造日行百万公里的虚拟运行能力，形成一个快速迭代的闭环，
        让开发者轻松实现“日行百万里”，极大提升开发效率。</span
      >
      <br /><br />
      <span
        >仿真场景分为Worldsim和Logsim。Worldsim是由人为预设的障碍物行为和交通灯状态构成的场景，
        可以简单高效的测试自动驾驶车辆，但缺乏真实交通环境中复杂的情况；Logsim是由路测数据提取的场景，
        提供复杂多变的障碍物行为和交通状况，使场景充满不确定性。
      </span>
      <br /><br />
      <span>本次仿真引擎将开放以下功能。</span>
    </p>
    <div class="guide-index-content-feature">
      <img src="../../../../../assets/images/guide_tips0.png" alt="" />
      <div class="guide-index-content-feature-item">
        <p><span>自动驾驶场景</span></p>
        <p><span>目前提供约200个场景，包括：</span></p>
        <ul>
          <li><span>基于不同的路型，包括十字路口、调头、直行、三叉路口、弯道。</span></li>
          <li><span>基于不同的障碍物类型，包括行人、机动车、非机动车、红绿灯及其他。</span></li>
          <li><span>基于不同的道路规划，包括直行、调头、变道、左转、右转、并道。</span></li>
        </ul>
        <p><span>您也可以使用我们的场景编辑器设计自己的Worldsim场景。</span></p>
      </div>
    </div>
    <div class="guide-index-content-feature">
      <img src="../../../../../assets/images/guide_tips1.png" alt="" />
      <div class="guide-index-content-feature-item">
        <p><span>场景运行模式</span></p>
        <ul>
          <li><span>支持多场景的高速并发运行</span></li>
          <li><span>支持单个或多个模块的算法验证</span></li>
        </ul>
      </div>
    </div>
    <div class="guide-index-content-feature">
      <img src="../../../../../assets/images/guide_tips2.png" alt="" />
      <div class="guide-index-content-feature-item">
        <p><span>自动评估系统</span></p>
        <p><span>目前提供以下评估标准</span></p>
        <ul class="guide-index-content-feature-table">
          <li><span>碰撞检测</span></li>
          <li><span>闯红灯检测</span></li>
          <li><span>限速检测</span></li>
          <li><span>在路检测</span></li>
          <li><span>到达终点检测</span></li>
          <li><span>急刹检测</span></li>
          <li><span>加速度检测</span></li>
          <li><span>导航检测</span></li>
          <li><span>路口变道检测</span></li>
          <li><span>礼让行人检测</span></li>
          <li><span>不必要刹车检测</span></li>
          <li><span>停车标志前停车检测</span></li>
        </ul>
      </div>
    </div>
    <div class="guide-index-content-feature">
      <img src="../../../../../assets/images/guide_tips3.png" alt="" />
      <div class="guide-index-content-feature-item">
        <p><span>3D动画展示</span></p>
        <ul>
          <li><span>提供实时路况，包括当前车道、红绿灯、限速。</span></li>
          <li><span>算法模块输出的可视化信息。包括路径规划、动态障碍物、无人车规划轨迹等。</span></li>
          <li><span>无人车本身状态的全局信息。包括速度、朝向、刹车油门状态。</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
